<div class="card mt-4" style="width: 18rem; ">

  <div class="card-body">
    <h5 class="card-title">Oferta </h5>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Titulo: {{oferta.titulo}}</li>
    <li class="list-group-item">Descripción: {{oferta.descripcion}} </li>
    <li class="list-group-item">Empresa: {{oferta.empresa}} </li>
    <li class="list-group-item">Salario: {{oferta.salario}} </li>
    <li class="list-group-item">Ciudad: {{oferta.ciudad}} </li>
    <li class="list-group-item">Email: {{oferta.email}} </li>
  </ul>
  <div class="card-body">
    <div class="row mt-2">
      <div class="col-6">
         <a routerLink="/ofertas" class="btn btn-primary">Volver</a>
      </div>
    </div>
  </div>
</div>
